body {
  height: 300vh;
}


.PageInicial {
  display: flex;
  /* superior | horizontal | inferior */
  padding: 2em 0 1em;
  align-items: center;
  justify-content: space-between; /*espaçamento interno*/
  flex-wrap: nowrap;   /*força o item a ficar na mesma linha*/
}

#Txt {
  display: flex; 
  text-align: center;
}

#Txt p {
  color: #4e3e7f;
  padding-left: 1.5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
  margin-right: 19px;
  white-space: nowrap;
  font-size: xx-large;
}

#imgPerfil {
  display: flex;
  align-items: center;
}

#imgPerfil img {
  max-height: 10vh; 
  height: auto; 
  padding-right: 1.7vh;
}

.Menu {
  height: 100vh;
  background-color: var(--cinza);

}

.Lista_exame {
  flex-direction: column;
  height: 90vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2.5em;
  padding: 2%;
}

.Exame {
  background-color: #efe8f8;
  padding: 10px 24px;
  box-shadow: 0px 4px 8px 0px #00000029;
  height: 18vh;
  margin: 3vh;
}

.Exame:hover{   /*aumenta o botão quando cursor passa por cima*/
  scale: 1.02;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
  text-align: left;
  padding-left: 3vh;
  color: #4e3e7f;
  font-size: x-large;
}

a{
  text-decoration: none;
}

.float{
  margin-bottom: 2vh;
  animation: none;
}
/*animation: mymove 2s;*/
@keyframes toX {
50% {transform: rotate(45deg);}
}

@keyframes toPlus {
  50% {transform: rotate(-45deg);}
}

.footer {
  height: 5vh;
}

.Navbar {
  border: 2px solid blue; 
  border-radius: 16px; 
  box-sizing: border-box; 
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 	2vh;
}

.icon {
  display: flex;
  display: flex; /* Adiciona flexbox aos itens individuais */
  align-items: center; /* Alinha os itens verticalmente no centro */
  flex-wrap: nowrap;
  align-self: center;
  justify-self: center;
}

.icon img {
  display:flex;
  max-height: 100vh; 
  height: auto; 
  margin-left: 2.5vh;
}

.linkButton{
  width: 100%;
  height: 100%;
}
