body {
  height: 300vh;
}


.PageInicial {
  display: flex;
  /* superior | horizontal | inferior */
  padding: 2em 0 1em;
  border: 2px solid black; 
  border-radius: 16px; 
  box-sizing: border-box; 
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#Txt {
  display: flex; 
  text-align: center;
}

#Txt p {
  color: #4e3e7f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
  margin-right: 19vh;
  white-space: nowrap;
  font-size: larger;
}

#imgPerfil img {
  margin-right: 10px;
  max-height: 8vh; 
  height: auto; 
}

